body {
    background-image: url("/src/images/painting-flowers.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    cursor: url('/src/images/bee-cursor.png'), auto;
}

a {
    color: #A24353;
}


.container {
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
    background-color: #CAA1AD;
    max-height: 100%;
}

header {
    padding-top: 10px;
}

main,
header {
    margin-right: 30px;
    margin-left: 30px;
}

h1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 1.5;
    color: #A24353;
    text-align: center;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

input {
    cursor: url('/src/images/bee-cursor.png'), auto;
}

form {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 20px 60px rgba(65, 50 , 100, 0.08);
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}

.instructions {
    padding: 10px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #A24353;
}


.submit-button {
margin-left: 10px;
background-color: #A24353;
color: white;
border: none;
border-radius: 50px;
padding: 14px 24px;
width: 150px;
font-size: 15px;
}

.poem {
    font-size: 16px;
    background-color: white;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #A24353;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
    border-radius: 10px;
    color: #A24353
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    padding-bottom: 30px;
}

